/* Set the min-width so that when the window is resized the look will stay consistant */

.charsheet{
	background-color: #fff;
	max-width: 755px;
	min-width: 355px;
	border-style: none;
	border-width: 7px;
}


.sheet-containerInput{
	max-width: 355px;
}

.sheet-containerInput,
.sheet-editCheckBox:checked ~ .sheet-containerDisplay {
	display: none;
}

.sheet-containerDisplay,
.sheet-editCheckBox:checked ~ .sheet-containerInput {
	display: block;
} 
.sheet-stronghold-input,
.sheet-editStrongCheckBox:checked ~ .sheet-stronghold-display {
	display: none;
}

.sheet-stronghold-display,
.sheet-editStrongCheckBox:checked ~ .sheet-stronghold-input {
	display: block;
} 

.sheet-province-input,
.sheet-editProvinceCheckBox:checked ~ .sheet-province-display {
	display: none;
}

.sheet-province-display,
.sheet-editProvinceCheckBox:checked ~ .sheet-province-input {
	display: block;
} 


div.sheet-containerDisplay.sheet-repeating-display .repcontainer:empty ~ b {
    display: none;
}
input.sheet-input.sheet-expanding-number{
	width: 50%;
}

.sheet-display-input{
    text-align: center;
    border: none;
    font-size: 12px;
    margin-top: -1px;
    color: gray;
}

input[type=number].sheet-display-input::-webkit-inner-spin-button, 
input[type=number].sheet-display-input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="checkbox"] {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: -5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* Fake radio/checkbox */

input[type="checkbox"] + span::before {
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    top: -5px;
    display: inline-block;
    vertical-align: top;
    font-family:"Pictos";
    background: transparent;
}


/* Fake checkbox */
input[type="checkbox"] + span::before {
    content: "";
    width: 14px;
    height: 14px;
    top: -5px;
    content: "y";
    color: gray;
    font-size: 12px;
    border-radius: 3px;
}

input[type="checkbox"]:checked + span::before {
    color: black;
    content: "y";
}

/*Resource assigned checkbox*/
input[type="checkbox"].sheet-resource {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 10px;
    margin: 1px;
    cursor: pointer;
    z-index: 1;
}

input[type="checkbox"].sheet-resource + span::before {
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    font-family:"Pictos";
    background: transparent;
}

input[type="checkbox"].sheet-resource + span::before {
    content: "";
    width: 14px;
    height: 14px;
    top: 10px;
    left: 10px;
    margin-top: 3px;
    content: "U";
    color: gray;
    font-size: 12px;
    border-radius: 3px;
}

input[type="checkbox"].sheet-resource:checked + span::before {
    color: black;
    content: "U";
}

input[type="checkbox"].sheet-resource:not(:checked) ~ span{
    color: gray;
}

/* Universal styling applied to all elements of these types */

button[type="roll"]{ 
    border: none;
	background-color: transparent;
	background-Image: none;
	box-shadow: none;
	font-size: 12px;
	margin-top: -3px;
	cursor: pointer;
	display: inline-block;
	font: Arial;
	align-content: center;
	padding: 0px;
    width: auto;
    overflow: hidden;
}

button[type="action"]{
    border: none;
	background-color: transparent;
	background-Image: none;
	box-shadow: none;
	font-size: 12px;
	margin-top: -3px;
	cursor: pointer;
	display: inline-block;
	font: Arial;
	align-content: center;
	padding: 0px;
    width: auto;
    overflow: hidden;
}
button[type=action]:hover {background: #eee;}

h2 {
	font-size: 2em;
	margin-top: 0px;
	text-align: left;
}


button[type=roll]::before
{
    content: "" !important;
    background-color: transparent  !important;
    align-content: center;
}

button[type=roll]:hover {background: #eee;}

h2 {
	font-size: 2em;
	margin-top: 0px;
	text-align: left;
}

h3 {
	font-size: 12px;
	margin-top: -1px;
	text-align: left;
}

h4 {
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: left;
}

hr {
	display: block;
margin-top: 0px;
margin-bottom: 0px;
margin-left: auto;
margin-right: auto;
border-style: inset;
border-width: 1px;
}

label {
	display: inline-block;
    width: auto;
    font-size: 12px;
}

input {
	display: inline-block;
	width: 97.5%;
}

img {
	max-height: 100px;
}

textarea {
	resize: vertical;
}

.sheet-container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 25px 0px;
}

input[type="number"]
{
	background: transparent;
	border: none;
	font-weight: bold;
}

button.sheet-button-roll{
	text-align: left;
	white-space: normal;
	margin-left: 0%;
	margin-top: 0%;
	font: 12px;
}
.repcontainer[data-groupname="repeating_example"] > .repitem {
    display: inline-block;
}

fieldset.sheet-display~.repcontrol{
	display: none;
}

fieldset.sheet-traitName+.repcontainer .repitem{
	border: none;
	display: inline-block;
}

fieldset.sheet-traitDesc+.repcontainer .repitem{
	border: none;
	display: inline-block;
}


input.sheet-display{
	background: transparent;
	border: none;
	display: inline-block;
	font-weight:bold;
	min-width:50px;
	max-width:300px;
}

.sheet-rolltemplate-5eAttack .sheet-container {
    background-color: #ffffff;
    border: 1px solid;
    padding: 2px;
    width: 210px;
}

.sheet-rolltemplate-5eAttack .sheet-container h1 {
    color: rgb(126, 45, 64);
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 20px;
}

.sheet-rolltemplate-5eAttack div {
    padding: 2px;
};
 
.sheet-rolltemplate-5eAttack span {
    color: rgb(126, 45, 64);
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 1.6em;
    padding-left: 5px;
    text-align: left;
}
 
.sheet-rolltemplate-5eAttack .sheet-subheader {
    color: #000;
    font-size: 1em;
    font-style: italic;
}
 
.sheet-rolltemplate-5eAttack .sheet-arrow-right {
    border-bottom: 2px solid transparent;
    border-left: 180px solid rgb(126, 45, 64);
    border-top: 2px solid transparent;
}
 
.sheet-rolltemplate-5eAttack .sheet-tcat {
    font-style: italic;
}
 
.sheet-rolltemplate-5eAttack .inlinerollresult  {
    background-color: #ffffff;
    border: none;
}
 
.sheet-rolltemplate-5eAttack .inlinerollresult.fullcrit {
    color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-5eAttack .inlinerollresult.fullfail {
    color: #B31515;
    border: none;
}
 
.sheet-rolltemplate-5eAttack .inlinerollresult.importandivoll {
    color: #4A57ED;
    border: none;
}

/*Tab Section*/

div.sheet-tab-content { display: none; }

input.sheet-containerUnit:checked ~ div.sheet-containerUnit,
input.sheet-containerStronghold:checked ~ div.sheet-containerStronghold,
input.sheet-containerProvince:checked ~ div.sheet-containerProvince{ display: block; }

input.sheet-tab {
    width: 150px;
    height: 20px;
    position: relative;
    top: 5px;
    left: 50px;
    margin: -1.5px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}


input.sheet-tab + span::before {
    content: attr(title);
    border: solid 1px #a8a8a8;
    border-bottom-color: black;
    text-align: center;
    display: inline-block;
    background: #fff;
    background: linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    width: 150px;
    height: 20px;
    font-size: 18px;
    position: absolute;
    top: 70px;
    left: 58px;
}

input.sheet-tab:checked + span::before {
    background: #dcdcdc;
    background: linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    border-bottom-color: #fff;
}

input.sheet-tab:not(:first-child) + span::before { border-left: none; }

input.sheet-containerStronghold + span::before {
    background: #fee;
    background: linear-gradient(to top, #f8c8c8, #fee, #f8c8c8);
    left: 210px;
}

input.sheet-containerProvince + span::before { left: 361px; }

input.sheet-containerStronghold:checked + span::before {
    background: #fee;
    background: linear-gradient(to top, #f8c8c8, #fee, #f8c8c8);
    border-bottom-color: #fcecec;
}


div.sheet-tab-content {
    border: 3px solid gray;
    border-top-color: #000;
    margin: 2px 0 0 5px;
    padding: 5px;
}

div.sheet-containerStronghold { background-color: #fcecec; }


/* Split the screen in half */
.sheet-split {
    height: 100%;
    width: 50%;
    position: relative;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
 .sheet-left {
    float: left;
  }
  
  /* Control the right side */
.sheet-right {
    float: right;
 }
  
select {
      width: min-content;
}


.sheet-header{
      text-align: center;
}

