/* Set the min-width so that when the window is resized the look will stay consistant */

.charsheet{
	background-color: #fff;
	max-width: 355px;
	min-width: 355px;
	border-style: solid;
	border-color: red;
	border-width: 10px;

}


.sheet-containerUnit,
.sheet-editCheckBox:checked ~ .sheet-containerStronghold {
	display: none;
}

.sheet-containerStronghold,
.sheet-editCheckBox:checked ~ .sheet-containerUnit {
	display: block;
}

/* Universal styling applied to all elements of these types */

button[type="roll"]{ 
    border: none;
	background-color: transparent;
	background-Image: none;
	box-shadow: none;
	font-size: 12px;
	margin-top: -3px;
	cursor: pointer;
	display: inline-block;
	font: Arial;
	align-content: center;
	padding: 0px;
    width: 75%;
    overflow: hidden;
}

button[type=roll]::before
{
    content: "" !important;
    background-color: transparent  !important;
    align-content: center;
}

button[type=roll]:hover {background: #eee;}

h2 {
	font-size: 2em;
	margin-top: 0px;
	text-align: left;
}

h3 {
	font-size: 12px;
	margin-top: -1px;
	text-align: left;
}

hr {
	display: block;
margin-top: 0px;
margin-bottom: 0px;
margin-left: auto;
margin-right: auto;
border-style: inset;
border-width: 1px;
}

label {
	display: inline-block;
	width: auto;
}

input {
	display: inline-block;
	width: 97.5%;
}

img {
	max-height: 100px;
}

textarea {
	resize: vertical;
}

.sheet-container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 25px 0px;
}

input[type="number"]
{
	background: transparent;
	border: none;
	font-weight: bold;
}

.repcontainer[data-groupname="repeating_example"] > .repitem {
    display: inline-block;
}

fieldset.sheet-display~.repcontrol{
	display: none;
}

fieldset.sheet-traitName+.repcontainer .repitem{
	border: none;
	display: inline-block;
}

fieldset.sheet-traitDesc+.repcontainer .repitem{
	border: none;
	display: inline-block;
}


input.sheet-display{
	background: transparent;
	border: none;
	display: inline-block;
	font-weight:bold;
	min-width:50px;
	max-width:300px;
}

.sheet-rolltemplate-5eAttack .sheet-container {
    background-color: #ffffff;
    border: 1px solid;
    padding: 2px;
    width: 189px;
}

.sheet-rolltemplate-5eAttack .sheet-container h1 {
    color: rgb(126, 45, 64);
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 20px;
}

.sheet-rolltemplate-5eAttack div {
    padding: 2px;
};
 
.sheet-rolltemplate-5eAttack span {
    color: rgb(126, 45, 64);
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 1.6em;
    padding-left: 5px;
    text-align: left;
}
 
.sheet-rolltemplate-5eAttack .sheet-subheader {
    color: #000;
    font-size: 1em;
    font-style: italic;
}
 
.sheet-rolltemplate-5eAttack .sheet-arrow-right {
    border-bottom: 2px solid transparent;
    border-left: 180px solid rgb(126, 45, 64);
    border-top: 2px solid transparent;
}
 
.sheet-rolltemplate-5eAttack .sheet-tcat {
    font-style: italic;
}
 
.sheet-rolltemplate-5eAttack .inlinerollresult  {
    background-color: #ffffff;
    border: none;
}
 
.sheet-rolltemplate-5eAttack .inlinerollresult.fullcrit {
    color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-5eAttack .inlinerollresult.fullfail {
    color: #B31515;
    border: none;
}
 
.sheet-rolltemplate-5eAttack .inlinerollresult.importandivoll {
    color: #4A57ED;
    border: none;
}
